.pagination-wrapper {
  width: 100%;
  height: 3vw;
  text-align: center;
}

.button-prev {
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  margin-right: 0.38vmax;
  height: 3vw;
  width: 6.4vw;
  font-size: 0.972vw;
  background-color: white;
  color: #2A2B8D;
  border: 1px solid rgb(199, 194, 194);
  margin-top: 4vw;
}

.button-next {
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  margin-left: 0.38vmax;
  height: 3vw;
  width: 6.4vw;
  font-size: 0.972vw;
  background-color: white;
  border: 1px solid rgb(199, 194, 194);
  color: #2A2B8D;
  margin-top: 4vw;
}

.button-next:not(:disabled), .button-prev:not(:disabled) {
  font-weight: 600;
}
  
.button-next:hover:not(:disabled), .button-prev:hover:not(:disabled) {
  color: #262363;
  background-color: rgb(180, 180, 180);
}

.button-next:disabled, .button-prev:disabled {
  cursor: auto;
  border: 1px solid #DDDDDD;
  color: #2A2B8D;
  opacity: 0.6;
}
