/* Collection dropdown wrapper properties */
.wrapper {
  width: 20.833vw;
  height: 2.604vw;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  cursor: url("../..//images/collection-cursor.png"), auto; /* Cursor type at dropdown */
}

/* Subdivision of above one */
.col-name {
  width: 27.778vw;
  height: 2.604vw;
  padding: 0.781vw 0vw 0.781vw 1.042vw;
  background-color: #fff;
  color: #050417;
  font-family: 'Open Sans';
  line-height: normal;
  font-size: 14px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(213, 215, 229, 0.3);
}

.header-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
}

.faded {
  color: #D5D7E5;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.list-item {
  background-color: white;
}

.list-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list-item:hover {
  background-color: #D5D7E5;
}

.selected-item {
  background-color: #B5B8CE;
}

.header-title-icon {
  float: right;
  margin-right: 0.938vw;
  margin-top: 0.417vw;
}

.shadow-div {
  position: absolute;
  width: 26.25vw;
  height: 2.604vw;
  z-index: -1;
  left: 0.521vw;
  right: 0.521vw;
  top: 0.26vw;
  background-color: #D5D7E5;
  border-radius: 4px;
  opacity: 0.7;
}

.list-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
